*{
    box-sizing: border-box;
}
.todo {
    width: 600px;
    height: 100px;
    border: 2px solid darkblue;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding: 20px;
    border-radius: 10px;
}
.todo.active p{
    text-decoration: line-through;
}
.todo.active {
    background-color: #49c863;
}

.edit {
    width: 600px;
    height: 100px;
    border: 1px solid red;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}